/extraclass/06-25/Geometry/nbproject/private/
/extraclass/06-25/Geometry/build/
/InClass/6-25/ConstruccionDeVehiculos/nbproject/private/
/InClass/6-25/ConstruccionDeVehiculos/build/
/InClass/7-2/ArraySample/nbproject/private/
/InClass/7-2/ArraySample/build/
/InClass/7-2/Ejercicio/nbproject/private/
/InClass/7-2/Ejercicio/build/
/InClass/7-2/Ejercicio2/nbproject/private/
/InClass/7-2/Ejercicio3/nbproject/private/
/InClass/7-2/Ejercicio2/build/
/InClass/9-7/Ejercicio1/nbproject/private/
/InClass/9-7/Ejercicio1/build/
/InClass/9-7/Ejercicio2/nbproject/private/
/InClass/9-7/TicTacToe/build/
/extraclass/16-7/Maze/nbproject/private/
/ProyectoFinal/ProyectoFundamentos/nbproject/private/
/extraclass/12-8/Login/nbproject/private/
/InClass/UI-Exceptions/build/
/extraclass/12-8/Login/build/
/extraclass/12-8/Login/Login/nbproject/private/
/extraclass/12-8/Login/Login/build/